@import '../utils/mixins';

/**
  Displays
 */

.center {
  @include center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.row {
  @include row;
}

.column {
  @include column;
}

.horizontal-start {
  @include horizontal-start;
}

.horizontal-end {
  @include horizontal-end;
}

.horizontal-center {
  @include horizontal-center;
}

.vertical-center {
  @include vertical-center;
}

.vertical-end {
  @include vertical-end;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-height-width {
  @include full-height-width;
}

.horizontal-space-between {
  @include horizontal-space-between;
}

/**
  Shadows
 */

.shadow {
  @include shadow;
}

/**
  Gaps
 */

.gap-sm {
  @include gap-sm;
}

.gap {
  @include gap;
}

.gap-lg {
  @include gap-lg;
}

/**
  Paddings
 */

.padding-sm {
  @include padding-sm;
}

.padding {
  @include padding;
}

.padding-lg {
  @include padding-lg;
}

.padding-horizontal {
  @include padding-horizontal;
}

.default-container-padding {
  @include default-container-padding;
}

/**
  Margins
 */

.no-margin {
  @include no-margin;
}

.margin-sm {
  @include margin-sm;
}

.margin {
  @include margin;
}

.margin-lg {
  @include margin-lg;
}

.text-sm {
  @include text-sm;
}

.text {
  @include text;
}

.text-lg {
  @include text-lg;
}

.bold {
  @include bold;
}

.semi-bold {
  @include semi-bold;
}

// Colors

.primary-color-300 {
  @include primary-color(300);
}

.primary-color-600 {
  @include primary-color(600);
}

.primary-color-800 {
  @include primary-color(800);
}

.primary-background-300 {
  @include primary-background(300);
}

.primary-background-600 {
  @include primary-background(600);
}

.primary-background-800 {
  @include primary-background(800);
}
