@import '../utils/mixins';
/**
  * Modals
  */



.mat-mdc-dialog-surface {
 @include shadow;
 border-radius: 1rem !important;
 padding: 1.4em;
 overflow-y: hidden !important;
}

.mat-dialog-actions{
  @include gap;
  @include horizontal-end;
  @include vertical-center;
  margin-top: 1rem;

}
