@use '@angular/material' as mat;

@import 'src/scss/palette';

/**
  Basic Displays
 */
@mixin column() {
  display: flex;
  flex-direction: column;
}

@mixin row() {
  display: flex;
  flex-direction: row;
}

@mixin fill-vertical-horizontal() {
  width: 100%;
  height: 100%;
}

@mixin center() {
  display: grid;
  place-content: center;
}

@mixin horizontal-start() {
  display: flex;
  justify-content: flex-start;
}

@mixin horizontal-end() {
  display: flex;
  justify-content: flex-end;
}

@mixin horizontal-center() {
  display: flex;
  justify-content: center;
}

@mixin vertical-center() {
  display: flex;
  align-items: center;
}

@mixin vertical-end() {
  display: flex;
  align-items: flex-end;
}

/**
  Shadows
 */
@mixin shadow() {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

/**
  Gaps
 */
@mixin gap-sm() {
  gap: 0.5rem;
}

@mixin gap() {
  gap: 1rem;
}

@mixin gap-lg() {
  gap: 1.5rem;
}

/**
  Padding
 */

@mixin padding-sm() {
  padding: 1rem;
}

@mixin padding() {
  padding: 2rem;
}

@mixin padding-lg() {
  padding: 3rem;
}

/**
  Backgrounds colors
 */
@mixin primary-background($color) {
  background: mat.get-color-from-palette($primary-palette, $color);
}

/**
  Palette utils
 */

@mixin primary-color($color: 600) {
  color: mat.get-color-from-palette($primary-palette, $color);
}
