@import 'src/scss/utils/mixins';

:host {
  @include column;
  height: 100%;
}

.router-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

main {
  height: 100%;
}

footer {
  margin-top: auto;
}
