<mat-grid-list data-cy="space-grid" class="grid" cols="5" rowHeight="3:2">
  <mat-grid-tile data-cy="space-tile" class="margin" *ngFor="let space of spaces">
    <mat-card class="column card padding margin-sm center">
      <mat-card-header>
        <mat-card-title class="vertical-center">{{ space.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section>
          {{ space.description }}
        </section>
      </mat-card-content>
      <mat-card-actions>
        {{ space.capacity }} / {{ space.maxCapacity }}
        <br />
        <button
          mat-raised-button
          class="btn btn--primary"
          [attr.data-cy]="'space-' + space.id"
          (click)="goToSpace(space.id)"
        >
          Go to space
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
