@import '../../../scss/utils/mixins';

.grid {
  @include gap;
}

.card {
  @include column;
  @include primary-background(300);
  @include container-border-radius;
  box-shadow: lightgray 0.5rem 0.3rem 0.2rem;
  height: 80%;
  width: 90%;

  &-content {
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
