@use '@angular/material' as mat;

@include mat.core();

$dark-text: #212121;
$light-text: #eeeeee;

/**
  * Basic palette
  *
  * Default palettes are available at https://material.io/design/color/
  *
  * You can create a custom palette at http://mcg.mbitson.com/
  *
  * To determine the contrast color go to https://toolness.github.io/accessible-color-matrix/
  *
*/

$primary-palette: (
  300: #faafaa,
  400: #ff9a75,
  500: #c2531b,
  // default
  600: #a13a16,
  700: #8c503e,
  contrast: (
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    // Default contrast color
    600: $light-text,
    700: $light-text,
    // Darker contrast color
  )
);

$app-primary: mat.define-palette($primary-palette, 500, 300, 700);

$navbar-gradient: linear-gradient(105deg, #ff9a75 5%, #ff7a4b 95%);
$button-primary-gradient: linear-gradient(105deg, #ff8559 5%, #ff916c 95%);
