@import 'src/scss/utils/mixins';

:host {
  @include column;
  @include padding;
  @include gap;
}

.profile {
  @include column;
  @include gap;
  @include padding;
  @include primary-background(300);

  flex: 1 1 25rem;

  height: auto;
}

.spaces {
  @include column;
  @include gap;
  @include padding;

  margin: 0 1rem;

  min-height: fit-content;

  flex: 1 1 25rem;
}
